body {
    max-width: 1016px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
}

.bannerWrapper--lab {
    width: auto;
    display: inline-block;
}

.bannerNew {
    display: flex;
    border-radius: 14px;
    padding: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: white;
}

.bannerNew--lab {
    justify-content: center;
    height: 120px;
    margin: 0px 7.5px;
}

.bannerNew__bgImg {
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: .8s;
}

.bannerNew--lab__bgImg {
    opacity: 0.09;
    left: 0;
    height: 100%;
}

.bannerNew__fgImg {
    z-index: 2;
    transition: .4s;
}

.bannerNew--lab__fgImg {
    align-self: center;
    max-height: 70px;
    height: 100%;
    width: auto;
}

.bannerNew--lab:hover .bannerNew--lab__fgImg {
    transition: .4s;
    max-height: 72px;
}

.bannerNew--lab:hover .bannerNew__bgImg {
    transition: .8s;
}

.bannerNew--lab:hover .bannerNew--lab__bgImg {
    opacity: 0.16;
}

.bannerGroup {
    display: grid!important;
}

.bannerGroup--twoRows {
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr;
}