@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body {
    max-width: 1016px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
}

.bannerWrapper--lab {
    width: auto;
    display: inline-block;
}

.bannerNew {
    display: flex;
    border-radius: 14px;
    padding: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: white;
}

.bannerNew--lab {
    justify-content: center;
    height: 120px;
    margin: 0px 7.5px;
}

.bannerNew__bgImg {
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: .8s;
}

.bannerNew--lab__bgImg {
    opacity: 0.09;
    left: 0;
    height: 100%;
}

.bannerNew__fgImg {
    z-index: 2;
    transition: .4s;
}

.bannerNew--lab__fgImg {
    align-self: center;
    max-height: 70px;
    height: 100%;
    width: auto;
}

.bannerNew--lab:hover .bannerNew--lab__fgImg {
    transition: .4s;
    max-height: 72px;
}

.bannerNew--lab:hover .bannerNew__bgImg {
    transition: .8s;
}

.bannerNew--lab:hover .bannerNew--lab__bgImg {
    opacity: 0.16;
}

.bannerGroup {
    display: grid!important;
}

.bannerGroup--twoRows {
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr;
}


.bannerGroup--twoColumns {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.bannerNew--info {
    height: 110px;
    display: grid;
    grid-template-columns: 70% 30%;
    overflow: hidden;
    padding: 20px;
    align-items:flex-end;
}

.bannerNew--info:hover .bannerNew--info__fgImg {
    transform: scale(1.15);
}

.bannerNew__title {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    z-index: 3;
    margin-bottom: unset;
}

.bannerNew--info__fgImg {
    position: absolute;
    right: -55px;
    top: 0px;
}